* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.home {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home > * {
  margin-top: 15px;
}
.nav {
  height: 12vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  color: white;
  text-decoration: none;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  margin-top: 15px;
}
.form button {
  width: 40%;
  margin: auto;
  margin-top: 1rem;
}
.form input {
  margin: 0.5rem;
}
.profile {
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formDiv {
  margin: auto;
  width: 100%;
}
.profile form {
  margin-top: 15px;
}
.logout {
  width: 100px;
  margin: auto;
}
.formButton,
.buttonActive {
  border: none;
  background-color: rgb(238, 220, 220);
  border-radius: 15px;
  cursor: pointer;
}
.buttonActive {
  background-color: greenyellow;
}
.add {
  text-align: center;
}
.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.googleIconWrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.msg {
  color: green;
  margin-top: 15px;
}
.googleIcon {
  width: 100%;
}
.product {
  border: 0.5px solid black;
  width: 50%;
  margin: auto;
}
.forgotbtn {
  margin-top: 25px;
}
.forgot {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
